.main-info {
    position: relative;
    width: 100%;
    top: 380px;
    color: gray;
    font-size: 12px;
    display: flex;
    justify-content: center;
    background-color: rgb(91, 91, 255);
}

.company {
    width: 70%;
    background-color: rgb(250, 248, 255);
}

.company h1,h2 {
    text-align: center;
    color: gray;
}

.company span{
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.company p{
    padding: 10px;
}

.company .text-img{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: gray;
}

.company .text{
    width: 50%;
    text-align: center;
}

.company .img{
    width: 100%;
    margin-right: 5px;
    margin-top: 28px;
}

.img img{
    width: 100%;
}

iframe{
    margin: 10px;
}

#goolgemaps{
    margin-top: 45px;
}

footer {
    position: relative;
    top: 380px;
}