#feedback {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(6, 143, 206, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 200;
}

#feedback .form{
    width: 500px;
    position: absolute;
    top: 100px;
    height: 550px;
    border-radius: 2%;
    background-color: rgb(213, 218, 255);
}

#feedback .form #close{
    position: relative;
    top: -15px;
    left: 495px;
    cursor: pointer;
    width: 24px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    border-radius: 15%;
    background-image: url("../images/close.svg");
}

#feedback .form #close:hover{
    background-color: rgb(255, 0, 0);
}

#feedback .form .form-info{
    color: #565656;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#feedback .form .form-info form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#feedback .form .form-info form input, textarea{
    margin-bottom: 20px;
    border-radius: 5px;
}

#feedback .form .form-info form input::placeholder, textarea::placeholder{
    color: red;
    font-size: 14px;
}

#feedback .form .form-info form input{
    width: 300px;
    height: 25px;
    font-size: 16px;
}

#feedback .form .form-info form textarea{
    width: 300px;
    height: 140px;
    resize: none;
    font-size: 16px;
}

#feedback .form .form-info input[type="submit"]{
    width: 150px;
    height: 40px;
    border: none;
    font-size: 22px;
    color: white;
    background-color: rgb(75, 133, 242);
    cursor: pointer;
}

#feedback .form .form-info input[type="submit"]:hover{
    background-color: rgb(255, 153, 0);
}

.fade-in {
    animation: fadeIn 0.5s forwards;
}

.fade-out {
    animation: fadeOut 0.5s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@media screen and (max-width: 700px) {
    #feedback .form #close{
        left: 90%;
        top: 10px;
    }
    #feedback .form{
        width: 400px;
    }
}